genimg
pbmToCompressed
database.sh
dbconfig.php
fromDB
*~
*.swp
*.swo
.project
web/image_data
web/log.txt
*.o
QrCodeGeneratorWorker
QrCodeGeneratorDemo
web/google/client_secret.json
web/google/token.json
