genimg
pbmToCompressed
rawToCompressed
database.sh
dbconfig.php
fromDB
*~
*.swp
*.swo
.project
web/image_data
web/log.txt
*.o
QrCodeGeneratorWorker
QrCodeGeneratorDemo
web/plugin_dependencies/google/client_secret.json
web/plugin_dependencies/google/token.json
web/plugin_dependencies/google/gcal
web/config/database.sh
web/config/dbconfig.php
web/config/settings.cfg
key.h
