form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field, .button {
    width: 400px;
    padding: 0px;
    display: flex;
}

.button {
    justify-content: space-between;
}

.button button {
    flex-grow: 1;
}

.middle {
    margin-left: 8px;
    margin-right: 8px;
}

.field {
    margin: 8px;
}

label {
    flex: 0 0 120px;
    max-width: 250px;
    padding-top: 8px;
}

input, select {
    flex-grow: 1;
}

ul {
    list-style: none;
}

li {
    display: flex;
    width: 300px;
}

li label {
    flex: 0 0 400px;
}

li input {
    flex-grow: 0;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    border: 1px solid;
}

.hidden {
    display: none;
}
