form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field, .button {
    width: 350px;
    padding: 0px;
    display: flex;
}

.button {
    justify-content: space-between;
}

.field {
    margin: 8px;
}

label {
    flex: 0 0 120px;
    max-width: 220px;
    padding-top: 8px;
}

input, select {
    flex-grow: 1;
}
