div.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

div.logs {
    display: flex;
    flex-direction: column;
}

div.sidebar {
    display: flex;
    flex-direction: column;
}

div.search {
    margin: 4px;
    padding-top: 7px;
}

p {
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 28px;
    padding: 15px;
    padding-left: 4px;
}

a:hover {
    background: #dadada;
}
