table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

tr.device:hover, tr.fake_device:hover {
    background: #dadada;
    cursor: pointer;
}

th:hover {
    cursor: pointer;
}

td.low-voltage {
    background: orange;
}

.devices {
    margin: auto;
}
