div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

img {
    padding-left: 12px;
    padding-bottom: 8px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 28px;
    padding: 15px;
}

a:hover {
    background: #dadada;
}
