#SSLOptions +StrictRequire
#SSLRequireSSL

AuthType Basic
AuthName "Enter your CAEDM username and password"
AuthBasicProvider ldap
AuthLDAPURL ldaps://server.et.byu.edu:636/ou=accounts,ou=caedm,dc=et,dc=byu,dc=edu?uid
Require ldap-group cn=erato,ou=groups,ou=caedm,dc=et,dc=byu,dc=edu
AuthLDAPGroupAttributeIsDN off
AuthLDAPGroupAttribute memberUid

#Require valid-user
#Require ldap-user jwander jdean jdgoal
