deviceDatabaseServer="devicedburl"
deviceDatabaseUsername="devicedbusername"
deviceDatabasePassword="devicedbpassword"
bookedDatabaseServer="bookeddburl"
bookedDatabaseUsername="bookeddbusername"
bookedDatabasePassword="bookeddbpassword"
