deviceDatabaseServer="devicedburl"
deviceDatabaseUsername="devicedbusername"
deviceDatabasePassword="devicedbpassword"
deviceDatabaseName="devicedbname"
googleIntegrationActive="false"
googleCalendarDisplayUrl="theoldpurple.com"
googleCalendarQrCodeBaseUrlBeginning="https://calendar.google.com/calendar/embed?src="
googleCalendarQrCodeBaseUrlEnd="%40group.calendar.google.com"
bookedIntegrationActive="false"
bookedDatabaseServer="bookeddburl"
bookedDatabaseUsername="bookeddbusername"
bookedDatabasePassword="bookeddbpassword"
bookedDatabaseName="bookeddbname"
bookedDisplayUrl="theoldpurple.com"
bookedQrCodeBaseUrlBeginning="theoldpurple.com/r.php?r="
bookedQrCodeBaseUrlEnd=""
buildTimeWebDirectory="/var/www"
runTimeWebDirectory="/var/www"
rrdDirectory="/opt/whereveryouwanttoputitreally"
