deviceDatabaseServer="devicedburl"
deviceDatabaseUsername="devicedbusername"
deviceDatabasePassword="devicedbpassword"
googleCalendarDisplayUrl="theoldpurple.com"
googleCalendarQrCodeBaseUrlBeginning="https://calendar.google.com/calendar/embed?src="
googleCalendarQrCodeBaseUrlEnd="%40group.calendar.google.com"
bookedDatabaseServer="bookeddburl"
bookedDatabaseUsername="bookeddbusername"
bookedDatabasePassword="bookeddbpassword"
bookedDisplayUrl="theoldpurple.com"
bookedQrCodeBaseUrlBeginning="theoldpurple.com/r.php?r="
bookedQrCodeBaseUrlEnd=""
webDirectory="/var/www"
rrdDirectory="/opt/whereveryouwanttoputitreally"
